---
import '@fontsource/montserrat/100.css';
import '@fontsource/montserrat/200.css';
import '@fontsource/montserrat/300.css';
import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/500.css';
import '@fontsource/montserrat/600.css';
import '@fontsource/montserrat/700.css';
import '@fontsource/montserrat/800.css';
import '@fontsource/montserrat/900.css';
import '@fontsource/montserrat/100-italic.css';
import '@fontsource/montserrat/200-italic.css';
import '@fontsource/montserrat/300-italic.css';
import '@fontsource/montserrat/400-italic.css';
import '@fontsource/montserrat/500-italic.css';
import '@fontsource/montserrat/600-italic.css';
import '@fontsource/montserrat/700-italic.css';
import '@fontsource/montserrat/800-italic.css';
import '@fontsource/montserrat/900-italic.css';
import '../styles/global.css'
import { config } from '@fortawesome/fontawesome-svg-core';
import '@fortawesome/fontawesome-svg-core/styles.css';
config.autoAddCss = false;

import {ViewTransitions} from "astro:transitions"

type Props = {
    title: string;
    description: string;
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
        "content-type": "application/json"
    },
    body: JSON.stringify({
        query: `
        query MetadataQuery {
            cssVariables,
            siteLogo {
              sourceUrl
            }
        }`,
    }),
});

const {title, description} = Astro.props;
const {data} = await response.json();
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    {!!data.siteLogo?.sourceUrl && <link rel="icon" href={data.siteLogo?.sourceUrl} />}
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    {!!data.cssVariables && <style set:html={`:root{${data.cssVariables}}`}></style>}
    <ViewTransitions />
</head>
<body>
<slot />
</body>
</html>
